@model QuanLyYTe.Models.TrinhKy
<script src="~/Chonse/chosen.jquery.js"></script>
<link href="~/Chonse/chosen.css" rel="stylesheet">
@using (Html.BeginForm("Approve", "TrinhKy", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID_TK)
    @Html.HiddenFor(model => model.TinhTrang_PheDuyet)
    <div class="modal-dialog">
        <div class="modal-content" style="max-width: 2000px;">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
@*                @{
                    var selectListCavet = new SelectList(
                    new List<SelectListItem> {
                        new SelectListItem { Value = "1" , Text = "Phê duyệt" },
                        new SelectListItem { Value = "2" , Text = "Không phê duyệt" }
                                           }, "Value", "Text");
                }
                <div class="row">
                    <div class="col-md-12 " style="text-align: center;">
                        <label class="form-label fw-bold">Tình trang phê duyệt</label>
                        @Html.DropDownListFor(model => model.TinhTrang_PheDuyet, selectListCavet as SelectList, "------  Chọn tình trạng phê duyệt  -------", new { @class = "form-control", @style="text-align: center;" })
                        @Html.ValidationMessageFor(model => model.TinhTrang_PheDuyet, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-12 " style="text-align: center;">
                        <label class="form-label fw-bold">Ghi chú</label>
                        @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control", placeholder = "Ghi chú", @id = "NoiDung" } })
                        @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" style="border-radius: 10px;margin-right: 4%;" value="Xác nhận" id="btnSubmit" class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>
}
<style>
    .modal-body {
        box-sizing: border-box;
        display: flex;
        flex: 1;
        flex-direction: column;
        max-height: 750px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 16px 16px;
    }
</style>
<script type="text/javascript">
    $("#ID_PhongBan").chosen({
        width: "100%"
    });
</script>