@model QuanLyYTe.Models.ChiTiet_ChiTieuNoiDung_ViTri
<script src="~/Chonse/chosen.jquery.js"></script>
<link href="~/Chonse/chosen.css" rel="stylesheet">
@using (Html.BeginForm("Edit", "ChiTiet_ChiTieuNoiDung_ViTri", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID_ViTriLaoDong)
    @Html.HiddenFor(model => model.ID_CT_ViTriLaoDong)
    <div class="modal-dialog">
        <div class="modal-content" style="max-width: 2000px;">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 " style="text-align: center; display: grid;">
                        <label class="form-label fw-bold">Yếu tố đọc hại</label>
                        @Html.DropDownListFor(model => model.ID_DocHai, ViewBag.DHList as SelectList, "---- Chọn yếu tố đọc hại ----", new { @style="text-align: center;", @id = "ID_DocHai", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ID_DocHai, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" style="border-radius: 10px;margin-right: 4%;" value="Xác nhận" id="btnSubmit" class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $("#ID_DocHai").chosen({
        width: "100%"
    });
    $("#ID_PhanLoai").chosen({
        width: "100%"
    });
</script>