@model QuanLyYTe.Models.CT_KSK_BenhNgheNghiep
<script src="~/Chonse/chosen.jquery.js"></script>
<link href="~/Chonse/chosen.css" rel="stylesheet">
@using (Html.BeginForm("Edit", "ChiTiet_ThoiHan_KSK_BNN", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID_CT_KSKBNN)
    <div class="modal-dialog">
        <div class="modal-content" style="max-width: 2000px;">
            <div class="modal-header">
                <h5 id="ModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Chỉ tiêu</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.EditorFor(model => model.TenChiTieu, new { htmlAttributes = new { @class = "form-control", placeholder = "TenChiTieu", @id = "TenChiTieu" } })
                                        @Html.ValidationMessageFor(model => model.TenChiTieu, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Nội dung</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.EditorFor(model => model.TenNoiDung, new { htmlAttributes = new { @class = "form-control", placeholder = "TenNoiDung", @id = "TenNoiDung" } })
                                        @Html.ValidationMessageFor(model => model.TenNoiDung, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Kết quả</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.EditorFor(model => model.KetQua, new { htmlAttributes = new { @class = "form-control", placeholder = "KetQua", @id = "KetQua" } })
                                        @Html.ValidationMessageFor(model => model.KetQua, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" style="border-radius: 10px;margin-right: 4%;" value="Xác nhận" id="btnSubmit" class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>
}