@using QuanLyYTe.Models
@model IEnumerable<QuanLyYTe.Models.KSK_ChuyenViTri>
@using System.Security.Claims;
@using QuanLyYTe.Repositorys;
@using Microsoft.EntityFrameworkCore;
@inject QuanLyYTe.Repositorys.DataContext _context
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}
@{
    var TenDangNhap = User.FindFirstValue(ClaimTypes.Name);
    var list = _context.TaiKhoan.Where(x => x.TenDangNhap == TenDangNhap).FirstOrDefault();
}

<div class="wrapper">
    <div class="page-wrap">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div>
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-primary" id="btn-search" style="border-radius: 10px;"><i class="bi bi-search"></i> Tìm kiếm</button>
                                        </div>
                                        <div class="col-md-4" style="text-align: right;">
                                            <button id="btn-Import" style="border-radius: 10px;" type="button" class="btn btn-primary"> <i class="bi bi-upload"></i> Import Excel</button>
                                            <div class="modal fade" id="myModalImportExcel" role="dialog" data-url='@Url.Action("ImportExcel","KSK_ChuyenViTri")'></div>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: flex;">
                                    <div style="text-align:left;width:89%">
                                        <img style="width: 15%;" src="~/images/logoHP.png">
                                        <div style="text-align: center; width: 14%; font-size: 11px; padding-top:0.5%;">
                                            <b>
                                                CÔNG TY CỔ PHẦN THÉP<br />
                                                HÒA PHÁT DUNG QUẤT
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-page-title" style="display: contents;">
                                    <div class="page-title-wrapper" style=" display: contents;">
                                        <div class="page-title-heading">
                                            <div style="text-align:center;">
                                                <h4 style="margin:0px;">
                                                    <b>
                                                        SỔ THEO DÕI SỨC KHỎE CHUYỂN VỊ TRÍ
                                                    </b>
                                                </h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive" style="height: 30vw;">
                                    <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th width="30px" rowspan="2" style="vertical-align:middle">STT</th>
                                                <th width="150px" rowspan="2" class="text-center" style="vertical-align:middle">Mã nhân viên</th>
                                                <th width="150px" rowspan="2" class="text-center" style="vertical-align:middle">Họ và tên</th>
                                                <th width="100px" rowspan="2" class="text-center" style="vertical-align:middle">Ngày sinh</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Vị trí công việc trước khi chuyển</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Vị trí công việc sau khi chuyển</th>
                                                <th width="100px" rowspan="2" class="text-center" style="vertical-align:middle">Kíp làm việc</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Bộ phận</th>
                                                <th width="10px" colspan="2" class="text-center" style="vertical-align:middle">Kết quả</th>
                                                <th width="100px" rowspan="2" class="text-center"> Lý do không đạt</th>
                                                <th width="100px" rowspan="2" class="text-center" style="vertical-align:middle">Ngày khám</th>
                                                <th width="100px" rowspan="2" class="text-center" style="vertical-align:middle">Ghi chú</th>
                                                @{
                                                    if (list != null)
                                                    {
                                                        if (list.ID_Quyen == 1)
                                                        {
                                                            <th width="100px" rowspan="2" class="text-center" style="vertical-align:middle">Thao tác</th>
                                                        }
                                                    }
                                                }
                                            </tr>
                                            <tr>
                                                <th width="10px" class="text-center">Đạt</th>
                                                <th width="10px" class="text-center">Không đạt</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int pageno = (int)pager.CurrentPage;
                                                int itemperpage = (int)pager.PageSize;
                                                int RowNo = ((pageno - 1) * itemperpage) + 1;
                                            }

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center">
                                                        @RowNo@{
                                                            RowNo++;
                                                        }
                                                    </td>
                                                    <td> @item.MaNV </td>
                                                    <td> @item.HoTen </td>
                                                    <td class="text-center">
                                                        @{
                                                            DateTime NS = (DateTime)item.NgaySinh;
                                                        }
                                                        @NS.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td class="text-center">@item.TenViTri</td>
                                                    <td class="text-center">@item.TenViTriSauKhiChuyen</td>
                                                    <td> @item.TenKip</td>
                                                    <td> @item.TenPhongBan</td>
                                                    <td>@item.Dat</td>
                                                    <td>@item.KhongDat</td>
                                                    <td>@item.TenLyDoKhongDat</td>
                                                    <td class="text-center">
                                                        @{
                                                            DateTime NK = (DateTime)item.NgayKham;
                                                        }
                                                        @NK.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td>@item.GhiChu</td>
                                                    @{
                                                        if (list != null)
                                                        {
                                                            if (list.ID_Quyen == 1)
                                                            {
                                                                <td class="text-center">
                                                                    <a class="bi bi-trash-fill" title="Xóa" href="@Url.Action("Delete", "KSK_ChuyenViTri", new { id = item.ID_KSK_CVT,page = pageNo  })"
                                                                       onclick="return confirm('Bạn muốn xóa : @item.HoTen')">
                                                                    </a>


                                                                    <a id="btn-edit_@item.ID_KSK_CVT" title="Chỉnh sửa" class="bi bi-pencil-square" style="cursor:pointer"></a>
                                                                    <div class="modal " id="myModaleF_@item.ID_KSK_CVT" role="dialog" data-url='@Url.Action("Edit", "KSK_ChuyenViTri", new { id = item.ID_KSK_CVT, page = pageNo })'></div>
                                                                    <script type="text/javascript">
                                                                        $("#btn-edit_@item.ID_KSK_CVT").click(function () {
                                                                            var url = $('#myModaleF_@item.ID_KSK_CVT').data('url');
                                                                            $.get(url, function (data) {
                                                                                $("#myModaleF_@item.ID_KSK_CVT").html(data);
                                                                                $("#ModalTitle").html("CHỈNH SỨA THÔNG TIN");
                                                                                $("#myModaleF_@item.ID_KSK_CVT").modal('show');
                                                                            });
                                                                        });
                                                                    </script>
                                                                </td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="container" style="padding-top: 0.5%;">
                                    @if (pager.TotalPages > 0)
                                    {
                                        <ul class="pagination justify-content-start " style="margin:0px;">
                                            @for (var pge = pager.StartPages; pge <= pager.EndPages; pge++)
                                            {
                                                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                                    <a class="page-link" href="@Url.Action("Index","KSK_ChuyenViTri",new{ page=pge,search=ViewBag.search} )">@pge</a>

                                                </li>

                                            }

                                            @if (pager.CurrentPage < pager.TotalPages)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="@Url.Action("Index","KSK_ChuyenViTri",new{ page=pager.CurrentPage + 1,search=ViewBag.search} )" >Next</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="@Url.Action("Index","KSK_ChuyenViTri",new{ page=pager.TotalPages,search=ViewBag.search} )">Last</a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("THÊM MỚI TUYỂN DỤNG");
            $("#myModal").modal('show');
        });
    });

    //Import Excel
    $('#btn-Import').click(function () {
        var url = $('#myModalImportExcel').data('url');
        $.get(url, function (data) {
            $("#myModalImportExcel").html(data);
            $("#ModalTitle").html("IMPORT DANH SÁCH CHUYỂN VỊ TRÍ");
            $("#myModalImportExcel").modal('show');
        });
    });
    $("#btn-search").on('click', function () {
        var search = $('#txtsearch').val();
        window.location.href = '@Url.Action("Index", "KSK_ChuyenViTri")?search=' + search;
    });
</script>
