
@using QuanLyYTe.Models
@model IEnumerable<QuanLyYTe.Models.KSK_DinhKy>
@using System.Security.Claims;
@using QuanLyYTe.Repositorys;
@using Microsoft.EntityFrameworkCore;
@inject QuanLyYTe.Repositorys.DataContext _context
<script src="~/Chonse/chosen.jquery.js"></script>
<link href="~/Chonse/chosen.css" rel="stylesheet">

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager? pager = new Pager();
    int pageNo = 0;
    

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    
    }
}
@{
    var TenDangNhap = User.FindFirstValue(ClaimTypes.Name);
    var list = _context.TaiKhoan.Where(x => x.TenDangNhap == TenDangNhap).FirstOrDefault();
}
<div class="wrapper">
    <div class="page-wrap">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div>
                                <div class="card-header">
                                    <div class="row" style="padding:1%;flex-wrap: inherit;border-bottom: 1px solid #e2e5e8;">
                                        <div class="col-md-1" style="padding-top:0.75%;text-align: right;">
                                            <span class="text-center" style="margin-top: 8px"><b>BỘ PHẬN :</b></span>
                                        </div>                                        
                                        <div class="col-md-2" style="padding-top: 0.5%;">
                                            @Html.DropDownList("PBList", null, "----  Bộ phận/ Nhà máy  ----", new { id = "IDPhongBan", @class = "form-control"})
                                        </div>

                                        <div class="col-md-1" style="padding-top:0.75%;text-align: right;">
                                            <span class="text-center" style="margin-top: 8px"><b>TỪ NGÀY :</b></span>
                                        </div>

                                        <div class="col-md-2" style="padding-top: 0.5%;">
                                            @Html.TextBox("begind", null, new { @id = "begind", @type = "date", @class = "form-control", @style = "height: 35px; border-radius: 5px;" })
                                        </div>
                                        <div class="col-md-1" style="padding-top:0.75%;text-align: right;">
                                            <span class="text-center" style="margin-top: 8px"><b>ĐẾN NGÀY :</b></span>
                                        </div>

                                        <div class="col-md-2" style="padding-top: 0.5%;">
                                            @Html.TextBox("endd", null, new { @id = "endd", @type = "date", @class = "form-control",  @style = "height: 35px; border-radius: 5px;"  })
                                        </div>
                                       
                                        <div class="col-md-2" style="display:flex;">
                                            <div>
                                                <button class="btn btn-primary" id="btn-search" style="border-radius: 10px;"><i class="bi bi-search"></i> Tìm kiếm</button>
                                                <button id="btn-Import" style="border-radius: 10px;" type="button" class="btn btn-primary"> <i class="bi bi-upload"></i> Import Excel</button>
                                                <div class="modal fade" id="myModalImportExcel" role="dialog" data-url='@Url.Action("ImportExcel","KSK_DinhKy")'></div>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="text-align: right;">
                                            <button id="btn-delete" style="border-radius: 10px;" type="button" class="btn btn-primary"><i class="fas fa-trash"></i> Delete</button>

                                        </div>

                                    </div>
                                </div>
                                <div style="display: flex;">
                                    <div style="text-align:left;width:89%">
                                        <img style="width: 15%;" src="~/images/logoHP.png">
                                        <div style="text-align: center; width: 14%; font-size: 11px; padding-top:0.5%;">
                                            <b>
                                                CÔNG TY CỔ PHẦN THÉP<br />
                                                HÒA PHÁT DUNG QUẤT
                                            </b>
                                        </div>
                                    </div>

                                </div>
                                <div class="app-page-title" style="display: contents;">
                                    <div class="page-title-wrapper" style=" display: contents;">
                                        <div class="page-title-heading">
                                            <div style="text-align:center;">
                                                <h4>
                                                    <b>
                                                        DANH SÁCH CBNV KHÁM SỨC KHỎE ĐỊNH KỲ
                                                    </b>
                                                </h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive" style="width:84vw;overflow-y: scroll; height: 30vw;">
                                    <table class="table table-bordered table-hover" id="table" style="width:150vw;" cellpadding="0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th width="30px" rowspan="2" style="vertical-align: middle; position: sticky; left: 0;"><input type="checkbox" name="name" value="" id="all" /></th>
                                                <th width="30px" rowspan="2" style="vertical-align: middle; position: sticky; left: 0;">STT</th>
                                                <th width="250px" rowspan="2" class="text-center" style="vertical-align: middle; position: sticky; left: 30px;">Họ và tên</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Vị trí làm việc</th>
                                                <th width="150px" rowspan="2" class="text-center" style="vertical-align:middle">Ngày sinh</th>
                                                <th width="100px" rowspan="2" class="text-center" style="vertical-align:middle">Giới tính</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Bộ phận</th>
                                                <th width="150px" rowspan="2" class="text-center" style="vertical-align:middle">Ngày khám</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Khám tổng quát</th>
                                                <th width="200px" rowspan="2" class="text-center" style="vertical-align:middle">Khám phụ khoa</th>
                                                <th width="50px" colspan="4" class="text-center" style="vertical-align:middle">Xét nghiệm</th>
                                                <th width="80px" rowspan="2" class="text-center" style="vertical-align:middle">Xếp loại</th>
                                                <th width="400px" rowspan="2" class="text-center" style="vertical-align:middle">Kết luận và Tư Vấn</th>
                                                @{
                                                    if (list != null)
                                                    {
                                                        if (list.ID_Quyen == 1)
                                                        {
                                                            <th width="100px" rowspan="2" class="text-center" style="vertical-align:middle">Thao tác</th>
                                                        }
                                                    }
                                                }
                                            </tr>
                                            <tr>
                                                <th width="50px">
                                                    Nhóm máu ABO
                                                </th>
                                                <th width="50px">
                                                    Nhóm máu Rh
                                                </th>
                                                <th width="50px">
                                                    Công thức máu
                                                </th>
                                                <th width="50px">
                                                    Nước tiểu
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int pageno = (int)pager.CurrentPage;
                                                int itemperpage = (int)pager.PageSize;
                                                int RowNo = ((pageno - 1) * itemperpage) + 1;
                                            }

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="text-center" style="vertical-align: middle; position: sticky; left: 0; background-color: #4680ff; color: white;">
                                                        <input type="checkbox" class="check" name="name" value="@item.ID_KSK_DK" />
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle; position: sticky; left: 0; background-color: #4680ff; color: white;">
                                                    @RowNo@{
                                                        RowNo++;
                                                    }
                                                    </td>

                                                    <td style="vertical-align: middle; position: sticky; left: 40px; background-color: #4680ff; color: white;"> @item.MaNV - @item.HoVaTen </td>
                                                    <td>@item.TenViTri</td>
                                                    <td class="text-center">
                                                        @{
                                                            DateTime NS = (DateTime)item.NgaySinh;
                                                        }
                                                        @NS.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td class="text-center"> @item.TenGioiTinh</td>
                                                    <td> @item.TenPhongBan</td>
                                                    <td class="text-center">
                                                        @{
                                                            DateTime NK = (DateTime)item.NgayKSK;
                                                        }
                                                        @NK.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td> @item.KhamTongQuat</td>
                                                    <td> @item.KhamPhuKhoa</td>
                                                    <td>@item.TenNhomMau</td>
                                                    <td>@item.NhomMauRh</td>
                                                    <td>@item.CongThucMau</td>
                                                    <td>@item.NuocTieu</td>
                                                    <td class="text-center">@item.TenLoaiKSK</td>
                                                    <td>@item.KetLuanKSK</td>
                                                    @{
                                                        if (list != null)
                                                        {
                                                            if (list.ID_Quyen == 1)
                                                            {
                                                                <td class="text-center">
                                                                    <a class="bi bi-trash-fill" title="Xóa" href="@Url.Action("Delete", "KSK_DinhKy", new { id = item.ID_KSK_DK,page = pageNo  })"
                                                                       onclick="return confirm('Bạn muốn xóa : @item.HoVaTen')">
                                                                    </a>


                                                                    <a id="btn-edit_@item.ID_KSK_DK" title="Chỉnh sửa" class="bi bi-pencil-square" style="cursor:pointer"></a>
                                                                    <div class="modal " id="myModaleF_@item.ID_KSK_DK" role="dialog" data-url='@Url.Action("Edit", "KSK_DinhKy", new { id = item.ID_KSK_DK, page = pageNo })'></div>
                                                                    <script type="text/javascript">
                                                                        $("#btn-edit_@item.ID_KSK_DK").click(function () {
                                                                            var url = $('#myModaleF_@item.ID_KSK_DK').data('url');
                                                                            $.get(url, function (data) {
                                                                                $("#myModaleF_@item.ID_KSK_DK").html(data);
                                                                                $("#ModalTitle").html("CHỈNH SỨA THÔNG TIN");
                                                                                $("#myModaleF_@item.ID_KSK_DK").modal('show');
                                                                            });
                                                                        });
                                                                    </script>
                                                                </td>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <div class="container" style="padding-top:0.5%;">
                                    @if (pager.TotalPages > 0)
                                    {
                                        string begin = ViewBag.begin.ToString("yyyy-MM-dd");
                                        string end = ViewBag.end.ToString("yyyy-MM-dd");

                                        <ul class="pagination justify-content-start" style="margin:0px;">
                                            @for (var pge = pager.StartPages; pge <= pager.EndPages; pge++)
                                            {
                                                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                                    <a class="page-link" href="@Url.Action("index","KSK_DinhKy",new{ page=pge, begind=begin, endd=end, IDPhongBan=   ViewBag.id  })">@pge</a>
                                                </li>
                                            }

                                            @if (pager.CurrentPage < pager.TotalPages)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="@Url.Action("index","KSK_DinhKy",new{ page=(pager.CurrentPage + 1), begind=begin, endd=end, IDPhongBan=ViewBag.id  })">Next</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="@Url.Action("index", "KSK_DinhKy", new { page = (pager.TotalPages), begind = begin, endd = end, IDPhongBan= ViewBag.id  })">Last</a>
                                                </li>
                                            }
                                        </ul>
                                    }

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("THÊM MỚI TUYỂN DỤNG");
            $("#myModal").modal('show');
        });
    });

    //Import Excel
    $('#btn-Import').click(function () {
        var url = $('#myModalImportExcel').data('url');
        $.get(url, function (data) {
            $("#myModalImportExcel").html(data);
            $("#ModalTitle").html("IMPORT DANH SÁCH KẾT QUẢ");
            $("#myModalImportExcel").modal('show');
        });
    });
    $("#btn-search").on('click', function () {
        var IDPhongBan = $('#IDPhongBan').val();
        window.location.href = '@Url.Action("Index", "KSK_DinhKy")?IDPhongBan=' + IDPhongBan + '&begind=' + $('#begind').val() + '&endd=' + $('#endd').val();
    });
    $("#IDPhongBan").chosen({
        width: "100%"
    });

    //Show datetime current
    $(document).ready(function () {
        var dateNewFormat, onlyDate, today = new Date();

        dateNewFormat = today.getFullYear() + '-';
        if (today.getMonth() >= 9) {

            dateNewFormat += (today.getMonth() + 1);
        }
        else {
            dateNewFormat += '0' + (today.getMonth() + 1);
        }

        onlyDate = today.getDate();
        if (onlyDate.toString().length == 2) {

            dateNewFormat += "-" + onlyDate;
        }
        else {
            dateNewFormat += '-0' + onlyDate;
        }
        if ($('#begind').val() == '') {
            $('#begind').val(dateNewFormat);
        }
        if ($('#endd').val() == '') {
            $('#endd').val(dateNewFormat);
        }

        $('#all').change(function() {
            $('.check').prop('checked', $(this).is(':checked'));
        });

        $('.check').change(function() {
          if ($('.check:checked').length === $('.check').length) {
            $('#all').prop('checked', true);
          } else {
            $('#all').prop('checked', false);
          }
        });
        $('#btn-delete').click(function(){
            let checkedValues = [];
            $('.check:checked').each(function() {
            checkedValues.push($(this).val());
            });
            $.ajax({
                type: 'POST',
                url: '/KSK_DinhKy/DeleteCheck',
                data: JSON.stringify(checkedValues),  // Chuyển đổi thành chuỗi JSON
                contentType: 'application/json',  // Đảm bảo loại dữ liệu đúng
                success: function (response) {
                    alert(response.msg);
                     // Kiểm tra phản hồi từ server
                    location.reload()
                },
                error: function (error) {
                    alert('Có lỗi xảy ra khi gửi dữ liệu');
                    console.log(error);
                }
            });
        });
        });
    </script>