@model IEnumerable<QuanLyYTe.Models.TuyenBenhVien>
@using Microsoft.Data.SqlClient;
@using QuanLyYTe.Models;
@using System.Data;
@using QuanLyYTe.Repositorys;
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
    int ID_SCC = Convert.ToInt32(ViewBag.ID_SCC);
}
<div class="wrapper">
    <div class="page-wrap">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="display: block;text-align: end;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button id="btn-add" style="border-radius: 10px;" type="button" class="btn btn-primary"> <i class="feather icon-plus"></i> Thêm mới</button>
                                        <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("Create","TuyenBenhVien", new { id =ID_SCC })'></div>

                                    </div>
                                </div>
                            </div>
                            <div class="app-page-title" style="display: contents;">
                                <div class="page-title-wrapper" style=" display: contents;">
                                    <div class="page-title-heading" style="padding: 2%">
                                        <div style="text-align:center;">
                                            <h4>
                                                <b>
                                                    DANH SÁCH CHI TIẾT TUYẾN BỆNH VIỆN
                                                </b>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="text-center" width="10px">STT</th>
                                                <th class="text-center" width="10px">Thao tác</th>
                                                <th class="text-center" width="100px">Tên bệnh viện</th>
                                                <th class="text-center" width="100px">Y tế phụ trách</th>
                                                <th class="text-center" width="100px">Thời gian chuyển viện</th>
                                                <th class="text-center" width="100px">Tạm ứng</th>
                                                <th class="text-center" width="100px">Thanh toán</th>
                                                <th class="text-center" width="100px">Thời gian điều trị</th>
                                                <th class="text-center" width="100px">Chứng từ</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @{
                                                int pageno = (int)pager.CurrentPage;
                                                int itemperpage = (int)pager.PageSize;
                                                int RowNo = ((pageno - 1) * itemperpage) + 1;
                                            }
                                            @foreach (var item in Model)
                                            {
                                              
                                                <tr>
                                                    <td class="text-center">
                                                        @RowNo@{
                                                            RowNo++;
                                                        }
                                                    </td>
                                                    <td class="text-center">
                                                        <a class="bi bi-trash-fill" title="Xóa" href="@Url.Action("Delete", "TuyenBenhVien", new { id = item.ID_TuyenBenhVien })"
                                                           onclick="return confirm('Bạn muốn xóa : @item.TenBenhVien')">
                                                        </a>

                                                        <a id="btn-edit_@item.ID_TuyenBenhVien" title="Chỉnh sửa" class="bi bi-pencil-square" style="cursor:pointer"></a>
                                                        <div class="modal " id="myModaleF_@item.ID_TuyenBenhVien" role="dialog" data-url='@Url.Action("Edit","TuyenBenhVien",new{id = item.ID_TuyenBenhVien})'></div>
                                                        <script type="text/javascript">
                                                            $("#btn-edit_@item.ID_TuyenBenhVien").click(function () {
                                                                var url = $('#myModaleF_@item.ID_TuyenBenhVien').data('url');
                                                                $.get(url, function (data) {
                                                                    $("#myModaleF_@item.ID_TuyenBenhVien").html(data);
                                                                    $("#ModalTitle").html("CHỈNH SỬA THÔNG TIN");
                                                                    $("#myModaleF_@item.ID_TuyenBenhVien").modal('show');
                                                                });
                                                            });
                                                        </script>

                                                    </td>
                                                    <td> 
                                                        @item.TenBenhVien
                                                    </td>
                                                    <td>
                                                        @item.Ytephutrach
                                                    </td>
                                                    <td class="text-center">
                                                        @{
                                                            DateTime Ngay = (DateTime)item.ThoiGianChuyenVien;
                                                        }
                                                        @Ngay.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td class="text-center">
                                                        @{
                                                            decimal VND_TU = Convert.ToDecimal(item.TamUng);
                                                        }

                                                        @VND_TU.ToString("#,##0 VNĐ")
                                                    </td>
                                                    <td class="text-center">
                                                        @{
                                                            decimal VND_TT = Convert.ToDecimal(item.ThanhToan);
                                                        }

                                                        @VND_TT.ToString("#,##0 VNĐ")
                                                    </td>
                                                    <td class="text-center">
                                                        @item.ThoiGianDieuTri
                                                    </td>
                                                    <td class="text-center">
                                                        <a target="_blank" href="@Url.Content("~/ReceivedReports/" + System.IO.Path.GetFileName(item.ChungTu))"><i class="fa fa-download mr-3" style="margin-right : 0px;"></i>Tải về</a>
                                                    </td>
                                                </tr>

                                            }

                                        </tbody>
                                    </table>
                                </div>

                                <div class="container" style="padding-top: 1%;">
                                    @if (pager.TotalPages > 0)
                                    {
                                        <ul class="pagination justify-content-start ">
                                            @for (var pge = pager.StartPages; pge <= pager.EndPages; pge++)
                                            {
                                                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                                    <a class="page-link" asp-asp-controller="TuyenBenhVien" asp-action="Index" asp-route-page="@pge">@pge</a>

                                                </li>

                                            }

                                            @if (pager.CurrentPage < pager.TotalPages)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" asp-asp-controller="TuyenBenhVien" asp-action="Index" asp-route-page="@(pager.CurrentPage + 1)">Next</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" asp-asp-controller="TuyenBenhVien" asp-action="Index" asp-route-page="@(pager.TotalPages)">Last</a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
<script type="text/javascript">
    $('#btn-add').click(function () {
        var url = $('#myModal').data('url');
        $.get(url, function (data) {
            $("#myModal").html(data);
            $("#ModalTitle").html("THÊM MỚI");
            $("#myModal").modal('show');
        });
    });

</script>
